<?xml version = "1.0" encoding = "utf-8"?>
<!DOCTYPE hibernate-configuration SYSTEM
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="archive.autodetection">class</property>
        <property name="dialect">org.hibernate.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.autocommit">true</property>
        <property name="show_sql">true</property>
        <property name="flushMode">ALWAYS</property>
        <property name="cache.use_second_level_cache" >false</property>
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <property name="connection.url">jdbc:sqlite:./database.db</property>

        <!--Mappings-->
        <mapping class="cz.valkovic.java.twbot.models.Server" />
        <mapping class="cz.valkovic.java.twbot.models.ServerSetting" />
        <mapping class="cz.valkovic.java.twbot.models.UnitsSettings" />
        <mapping class="cz.valkovic.java.twbot.models.UnitInfo" />

    </session-factory>
</hibernate-configuration>